
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px 20px;
    color:black;
}

.logo img {
    width: 50px;
    height: 50px;

}
body {
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family:'Times New Roman', Times, serif
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-section {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.right-section {
    flex: 2;
    padding: 20px;

}

h1 {
    font-size: 50px;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 24px;
}

.boxed-section {
    border: 1px solid #333;
    padding: 20px;
    margin-top: 20px;
    float: center;
    max-width: 95%;
    margin-left: 20px;
}

h3 {
    font-size: 20px;
}

.content-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    text-decoration: none;
    padding: 0px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightskyblue;
    color: #fff;
    padding: 10px 20px;
}


.footer-left {
    flex: 1;
}

.footer-links {
    flex: 1;
    text-align: right;
}

.social-link {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.footer-links img{
    width: 30px;
    display: inline-block;
}

.footer-links a:hover {
    color: #ddd;
}



